<<<<<<< HEAD
<div>BOARD {{cost.board}}</div>
<div>CPU {{cost.cpu}}</div>
<div>RESISTERs {{cost.comp}}</div>
<div> CHIPS {{cost.chip}}</div>
=======
<div >Board {{cost.board}}</div>
<div >Cpu {{cost.cpu}}</div>
<div >Resisters {{cost.comp}}</div>
<div> Chips {{cost.chip}}</div>
>>>>>>> a2876307a17fadca0eeffcf944043066f9fd26e9
